# ignore workspace files
/*.code-workspace
# ignore test and prototyping files
/test

# ignore data files
/data/*
# ignore results files
/results/*

# basic stuff
# - all pycache folders
/bin/src/*/__pycache__/
/bin/*/__pycache__/
/bin/__pycache__/
/__pycache__

# - nexflow stuff
.nextflow*
work