
// nextflow.config

conda.enabled = true

params{
    //General 
    dataDir = "data/"
    resultsDir = "results/"
    publishDirMode = "copy"
    condaEnv = "env/environment.yml"
    mnnModelsDir = "data/mnnModels"
    mnnModelHParams = "data/mnnModels//MNN_ranks_*_.pt"
    mnnModelParams = "MNN_ranks_*_params.npy"
    originalHipStr1001bpFasta = "data/hg38.hipstr_reference.cage.500bp.around3end.fa"
    oneHotSeqFile = "data/hg38all_seqs_raw.npy"
    seqNameFile = "data/hg38all_names_raw.npy"
}

profiles{
    ifb{
        //Profile config names for nf-core/configs
        params {
        config_profile_description = 'The IFB core cluster profile'
        config_profile_contact = 'https://community.france-bioinformatique.fr'
        config_profile_url = 'https://ifb-elixirfr.gitlab.io/cluster/doc/cluster-desc/'
        }

        singularity {
        enabled = true
        runOptions = '-B /shared'
        }

        process {
        executor = 'slurm'
        // queue = { task.time <= 24.h ? 'fast' : 'long' }
        queue = 'fast'
        }

        params {
        igenomes_ignore = true
        max_memory = 252.GB
        max_cpus = 56
        max_time = 720.h
        }
    }
}