
// nextflow.config

conda.enabled = true

executor {
    cpus = 2
}

params{
    //General 
    dataDir = "data/"
    resultsDir = "results/"
    publishDirMode = "copy"
    condaEnv = "env/environment.yml"
    mnnModelsDir = "data/mnnModels"
    mnnModelHParams = "data/mnnModels//MNN_ranks_*_.pt"
    mnnModelParams = "MNN_ranks_*_params.npy"
    originalHipStr1001bpFasta = "data/hg38.hipstr_reference.cage.500bp.around3end.fa"
    oneHotSeqFile = "data/hg38all_seqs_raw.npy"
    seqNameFile = "data/hg38all_names_raw.npy"
}